body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  font-weight: 200;
  padding-top: 80px;
  margin-bottom: 150px;
}

::-moz-selection { color: white;  background: black; }
::selection      { color: white;  background: black; } 

h1, h2, h3, h4, h5, h6 {
  font-weight: 200;
}

h1.name {
  font-size: 58px;
}
h3.whatsup {
  margin-top: 20px;
  font-size: 32px;
  line-height: 1.3em;
}

ul.links {
  list-style-type: none;
  margin: 50px 0 0;
  padding: 0;
}
ul.links li {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #666;
  white-space: nowrap;
  border-radius: 4px;
  margin-bottom: 6px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: normal;
}
ul.links li.l1:hover, ul.links li.l2:hover {
  transition: border-color 0.3s, background-color 0.3s;
  border-color: #188C61;
  background-color: #5FCAA3;
  border-style: solid !important;
}
ul.links li.l1 {

}

ul.links li.l1.hidden {
  /* display: none; */
}
ul.links li.l2.hidden {
 /* display: none; */
}
ul.links li.l2 {
  border-color: #eee;
}
ul.links li.l2.less {
  border-style: dashed;
}
ul.links li.l2.less a  {
  color: #eee;
}
ul.links li.more:hover {
  transition: all 1s ease-out;
  padding: 0 5px;
}
ul.links li.l2.less a:hover {
  transition: color 1s ease-out;
  color: white;
}
ul.links li.resize-small {
  transition: border-color 1s ease-out;
  border-color: #eee;
}
ul.links li.resize-small a {
  transition: color 1s ease-out;
  color: #f0f0f0;
}
ul.links li a {
  display: block;
  padding: 6px 12px;
  text-decoration: none;
  font-size: 16px;
  color: black;
  line-height: 1.4em;
}


@media print {
  ul.links li {
    border: 0;
    display: block;
    text-align: left;
  }

  ul.links .less, ul.links .more {
    display: none;
  }


}